/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h2 {
	font-size: 1.8em;
}

nav {
	font-size: 24px;
}

p {
	margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

h1,
h2,
h3 {
	margin: 0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

hr {
	margin: 4em 0;
}

section h2:before {
	content:'';
	height:10px;
	width:50px;
	border-radius:5px;
	margin-bottom:20px;
	display:block;
	background:#ffa804
}


/* Masthead section */

.masthead {
	background-image: linear-gradient(0deg, rgba(25, 29, 50, 0.3), rgba(25, 29, 50, 0.9)), url('../images/background.jpeg');
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.nav {
	display: none;
}

/* About section */

#about {
	background: #456990;
	padding-bottom: 2em;
	color: #FFFFFF;
}

.about-content {
	padding: 1.5em;
}

.button {
  display: inline-block;
  border-radius: 16px;
  background-color: #00b7b8;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 0.6em;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Portfolio section */

#portfolio {
	color: #2a4660;
	padding: 2em 1em 1em;
}

#portfolio ul {
	margin: 0;
	padding: 0;
}

#portfolio li {
	margin-bottom: 1em;
	list-style-type: none;
}

.project h3 {
	font-size: 2.4em;
	padding: 0 0 0.5em 0;
}

.project img {
	width: 20em;
	height: auto;
	margin-bottom: 1.5em;
	box-shadow: 0 0.8rem 1rem rgba(0,0,0,.4);
}

.project a {
	color: #4497e2;
	margin: 0 2em;
	text-decoration: none;
}

.project h4 {
	font-size: 1.5em;
	margin: 0.5em 0;
}

.proj-info-left h4 {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.project p {
	padding-top: 0;
}

.proj-info-left ul {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.project li>i {
	font-size: 0.6em;
	color: #4497e2;
	margin: 0.5em;
}

/* Skill section */

.skill {
	background-color: #191D32;
	padding: 2em;
	color: #FFFFFF;
}

.skill h2 {
	font-size: 2em;
	width: 3em;
	margin: auto;
	padding-bottom: 0;
}

.skill-card {
	background-color: #FFFFFF;
	color: #2a4660;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 16em;
	padding-top: 3em;
}

.skill-card p {
	text-align: center;
	padding: 1em;
}

.skill-card i {
	font-size: 2em;
}

/* Experiences section */
#experiences {
	color: #2a4660;
}

#experiences h3 {
	font-size: 1.3em;
	padding: 1.5em 0 0 0;
}

#experiences h4 {
	font-size: 1.1em;
	color: #ffa804;
	margin: 0;
}

#experiences h5 {
	font-size: 1em;
	margin: 0.5em 0;
}

#experiences p {
	padding-top: 0;
}

/* Footer section */
.footer{
	text-align: center;
	padding: 2em;
	background: hsl(0, 0%, 10%);
}

.connect {
	background: rgba(128, 128, 128, 0.05);
	border-radius: 4em;
	width: 6em;
	display: inline-flex;
	justify-content: space-between;
	padding: 0.35em 0.75em 0.35em 0.75em;
	font-size: 1.8em;
	list-style: none;
}

.connect a {
	color: #FFFFFF;
	padding: 0.5em;
}

.copyright {
	color: white;
	margin: auto;
}

/*--------------------------------------------------------------
Use flex to create a three-bucket layout
--------------------------------------------------------------*/

@media screen and (min-width: 700px) {
	@supports (display: flex) {

		.project {
			display: grid;
			grid-template-columns: 20em 1fr;
			grid-gap: 5em;
		}

	}
}

/*--------------------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------------------*/

.site {
	max-width: 50em;
	margin: 0 auto;
}

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/

@supports (grid-area: auto) {
	@media screen and (min-width: 600px) {
		.site {
			max-width: none;
		}

		#about,
		#portfolio {
			display: grid;
			grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
		}

		#experiences > * {
			display: grid;
			grid-template-columns: 1fr minmax(auto, 15em) minmax(auto, 35em) 1fr;
		}

		.skill-content {
			margin: 3em 7em 5em 7em;
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-gap: 2em;
		}

		#portfolio ul {
			grid-column: 2/4;
		}

		.nav {
			display: block;
		}

		nav ul {
			list-style-type: none;
			padding: 2em;
			margin: 0 5em;
			display: flex;
			justify-content: flex-end;
		}
		
		nav li a {
			color: white;
			text-align: center;
			padding: 1em 1em;
			text-decoration: none;
			transition: all 0.3s ease 0s;
		}
		
		nav li a:hover {
			color: #FFA804
		}

		.about-content,
		#experiences h2 {
			grid-column: 2 / 3;
		}

		#about {
			align-items: center;
		}

		#about img {
			grid-column: 3 / 4;
		}

		/* Experiences section */
		#experiences {
			padding: 2em 0;
		}

		#experiences > * {
			margin: 3em 0;
		}

		.school-list,
		.work-list {
			margin-left: 5em;
		}
	}
}
